<article class="_snippet-person person person--small" itemscope itemtype="http://schema.org/Person">

    {% if content %}
        {% if content['flexible-content-grid-size'] == 'two-columns' %}
            {% set imageSize = 462 %}
        {% elseif content['flexible-content-grid-size'] == 'three-columns' %}
            {% set imageSize = 292 %}
        {% elseif content['flexible-content-grid-size'] == 'four-columns' %}
            {% set imageSize = 292 %}
        {% endif %}
    {% else %}
        {% set imageSize = 300 %}
    {% endif %}



    <div class="person-image">
        {% if person.get_field('profil-link') == 'yes' %}
            <a href="{{ person.link }}">
                <img src="{{ TimberImage(person.get_thumbnail)|resize(imageSize,imageSize) }}"/>
            </a>
        {% else %}
            <img src="{{ TimberImage(person.get_thumbnail)|resize(imageSize,imageSize) }}"/>
        {% endif %}
    </div>

    {% if person.get_field('profil-link') == 'yes' %}
        <a href="{{ person.link }}">
            <h4 class="person-name" itemprop="name">{{ person.title }}</h4>
        </a>
    {% else %}
        <h4 class="person-name" itemprop="name">{{ person.title }}</h4>
    {% endif %}

    <p class="person-jobtitle">
        {{ person.jobtitle }}
    </p>

    {% if person.excerpt %}
        <p class="person-description">
            {{ person.excerpt }}
        </p>
    {% endif %}

    {% if person.get_field('profil-link') == 'yes' %}
        <div class="profile-link">
            {% include('_snippets/_snippet-button.twig') with {'type': 'secondary', 'label': _e('Profile'), 'url': member.link } %}
        </div>
    {% endif %}
</article>