<div class="content-datenschutz-preambel">
    <strong>{{ datenschutz_preambel_title }}</strong>

    <p>{{ datenschutz_preambel }}</p>
</div>

<div class="content-datenschutz-like">
    <strong>{{ datenschutz_like_title }}</strong>

    <p>{{ datenschutz_like }}</p>
</div>

<div class="content-datenschutz-analytics">
    <strong>{{ datenschutz_analytics_title }}</strong>

    <p>{{ datenschutz_analytics }}</p>
</div>

<div class="content-datenschutz-adsense">
    <strong>{{ datenschutz_adsense_title }}</strong>

    <p>{{ datenschutz_adsense }}</p>
</div>

<div class="content-datenschutz-plus">
    <strong>{{ datenschutz_plus_title }}</strong>

    <p>{{ datenschutz_plus }}</p>
</div>

<div class="content-datenschutz-twitter">
    <strong>{{ datenschutz_twitter_title }}</strong>

    <p>{{ datenschutz_twitter }}</p>
</div>