<div class="_content-impressum-disclaimer" style="display:{{ show_disclaimer }};">
    <h3>{{ title_disclaimer }}</h3>

    <ul>
        <li>
            <strong>{{ haftung_fuer_inhalte_title }}</strong>
            <p>{{ haftung_fuer_inhalte }}</p>
        </li>

        <li>
            <strong>{{ haftung_fuer_links_title }}</strong>
            <p>{{ haftung_fuer_links }}</p>
        </li>

        <li>
            <strong>{{ urheberrecht_title }}</strong>
            <p>{{ urheberrecht }}</p>
        </li>
    </ul>

</div>