<div class="_content-impressum-disclaimer" style="display:{{ show_disclaimer }};">
    <h3>{{ _e('Disclaimer') }}</h3>

    <div>
        <strong>{{ _e('Haftung für Inhalte') }}</strong>

        <p>{{ haftung_fuer_inhalte }}</p>
    </div>

    <div>
        <strong>{{ _e('Haftung für Links') }}</strong>

        <p>{{ haftung_fuer_links }}</p>
    </div>

    <div>
        <strong>{{ _e('Urheberrecht') }}</strong>

        <p>{{ urheberrecht }}</p>
    </div>

</div>