<div class="_content-impressum-tmg">

    <h3>{{ title_tmg }}</h3>

    <div class="_content-impressum-tmg-company">
        <div>{{ firmenbezeichnung }}</div>
        <div>{{ strasse_hausnummer }}</div>
        <div>{{ postleitzahl }} {{ ort }}</div>
    </div>

    <div class="_content-impressum-tmg-respresented">
        <strong>{{ vertretungsberechtigt_title }}</strong>
        <div>{{ vertretungsberechtigt }}</div>
    </div>

    <div class="_content-impressum-tmg-contact">
        <strong>{{ kontakt_title }}</strong>
        <div>{{ telefon_label }} {{ telefon }}</div>
        <div>{{ telefax_label }} {{ telefax }}</div>
        <div>{{ email_label }} {{ email }}</div>
    </div>

    <div class="_content-impressum-tmg-register">
        <strong>{{ registereintrag_title }}</strong>
        <div>{{ registereintrag_art }}</div>
        <div>{{ registergericht }}</div>
        <div>{{ registernummer }}</div>
    </div>

    <div class="_content-impressum-tmg-vat">
        <strong>{{ ust_id_title }}</strong>
        <div>{{ ust_id_label }}</div>
        <div>{{ ust_id }}</div>
    </div>

</div>