<div class="_content-impressum-tmg">

    <h3>{{ _e('Angaben gemäß § 5 TMG:') }}</h3>

    <div class="_content-impressum-tmg-company">
        <div><strong>{{ firmenbezeichnung }}</strong></div>
        <div>{{ strasse_hausnummer }}</div>
        <div>{{ postleitzahl }} {{ ort }}</div>
    </div>

    <div class="_content-impressum-tmg-respresented">
        <div>{{ vertretungsberechtigt }}</div>
    </div>

    <div class="_content-impressum-tmg-contact">
        <div>{{ _e('Telefon:') }} {{ telefon }}</div>
        <div>{{ _e('E-Mail:') }} {{ email }}</div>
    </div>

    <div class="_content-impressum-tmg-vat">
        <div>{{ ust_id }}</div>
    </div>

</div>